.bg-layout {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 32px);
  gap: 0px 16px;
  grid-auto-flow: column;
  width: 100vw;
  height: 100vh;
  background-color: #b000001a;
}
