.form-grid {
  display: grid;
  grid-template-columns: 1fr; /* Uma coluna para a maioria dos campos */
  gap: 1rem; /* Espaçamento vertical entre os itens */
}

.form-grid .half-width-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide em duas colunas de tamanhos iguais */
  gap: 1rem; /* Espaçamento entre as colunas */
}

.form-grid .half-width-container label {
  display: block; /* Faz o label ocupar a largura total do container */
  padding-bottom: 1rem;
}

.form-grid label {
  font-weight: bold;
  color: var(--color-input-placeholder);
}

.form-grid input,
.form-grid textarea {
  width: 100%;
  height: 48px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid var(--color-input-stroke);
  background-color: transparent;
  border-radius: 8px;
}

.form-grid textarea {
  resize: vertical;
  height: 136px;
}

.input-group {
  display: flex;
  border: 1px solid var(--color-input-stroke);
  border-radius: 8px; /* Borda arredondada */
}

.input-group input {
  flex: 1; /* Faz cada input ocupar espaço igual dentro do grupo */
  border: 1px solid var(--color-input-stroke);
  margin: 2px; /* Pequeno espaçamento entre os inputs */
}

input[type="date"] {
  color: var(--color-input-placeholder);
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer; /* Faz o campo parecer clicável */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Inverte as cores do ícone de calendário em navegadores WebKit */
}

.input-group input:focus {
  outline: none; /* Remove o contorno ao focar nos inputs */
}
