@import "global.css";
@import "aside.css";
@import "main.css";
@import "event.css";
@import "customization.css";


/*form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

input {
  flex: 1 0 10rem;
}

button {
  flex: 1 0 5rem;
}*/