main {
  background-color: var(--color-shape-body);
  border-radius: 10px;
  margin-right: 1.25rem;
  padding: 0 1.25rem;
}

.container form h1 {
  font-family: var(--font-family-Ballo);
  color: var(--color-text-heading);
  padding-top: 80px;
  margin-bottom: 40px;
}

.container form p {
  display: flex;
  align-items: center;
  font-family: var();
  font-family: var(--font-family-Ballo);
  color: var(--color-text-heading);
  margin-bottom: 24px;
  gap: 10px;
}